<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/buttonStyles.css">
</head>
<body>
<h2>You have nothing to repeat.</h2>
<h2>You should create some language cards to use this option or select another one.</h2>

<a href="/Home/WordsTrainer/creation" class="button-custom">Create language cards</a> <br><br>

<a href="/Home/WordsTrainer" class="button-custom">Words Trainer</a>
</body>
</html>