<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/Home/WordsTrainer/languageCards">my language cards</a>
<br/>
<table>
    <tr th:each="languageCard : ${learnedLanguageCards}">
    <td>Word:  <span th:text="${languageCard.getWord()}"></span></td>
    <td>Translation:  <span th:text="${languageCard.getTranslation()}"></span></td>
    <td>RepeatCount:  <span th:text="${languageCard.getRepeatCount()}"></span></td>
    <td>MistakesCount:  <span th:text="${languageCard.getMistakesCount()}"></span></td>
    </tr>
</table>
</body>
</html>