<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/Home/WordsTrainer/submitCreation}" th:method="POST" th:object="${languageCardCreationForm}">
    <label for="word">Word:</label>
    <input type="text" id="word" th:field="*{word}" required> <br><br>

    <label for="translation">Translation:</label>
    <input type="text" id="translation" th:field="*{translation}" required> <br><br>

    <input type="submit" value="add">
</form>

<span th:text="${successfulCreation}"></span>  <br><br>

<a href="/Home/WordsTrainer/start" class="button">click to start the trainer</a> <br><br>

<a href="/Home/WordsTrainer">back to Words Trainer</a>
</body>
</html>