body {
  background-color: white;
  color: black;
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

body.dark-theme a {
  color: lightblue;
}
body.dark-theme div {
  background-color: #121212;
}

body.dark-theme input {
color: grey;
}
