<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
  <link rel="stylesheet" href="/css/dark-theme.css">
</head>
<body>

<a href="/Home/WordsTrainer/creation">creation of new language cards</a>
<table>
  <tr th:each="languageCard : ${languageCardList}">
    <td th:text="${languageCard.getWord()}">Word:</td>
    <br/>
    <td th:text="${languageCard.getTranslation()}">Translation:</td>
    <br/>
    <td th:text="${languageCard.getId()}">Id:</td>
    <br/>
    <td th:text="${languageCard.getUserId()}">userId:</td>
  </tr>
</table>
<script src="/js/dark-theme-setting.js"></script>
</body>
</html>